@media (min-width: 601px) and (max-width: 1100px);

body {
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    background-color: white;
    color: black;
    border: 5px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

#data-representation-and-input {
    display: flex;
    flex-direction: column;
    flex-wrap: ;
}